*:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bgColor);
  font-family: "Rubik", sans-serif;
  font-size: var(--smallSizeFont);


  --smallSizeFont: 3vw;
  --bigSizeFont: 7vw;
  --borderColor: #ffb7f3;
  --bgColor: #ffeffc;
  --textColor: #4a4a4a;
  --legendColor: #ca6262;
  --itemColor: #ffffff;
  --personColor: rgb(0, 154, 98);
}

p {
  color: var(--textColor);
  font-size: var(--smallSizeFont)
}

.body {
  margin: 0;
  padding: 0;
}
.title-label {
  font-size: var(--bigSizeFont);
  font-weight: 500;
  text-align: center;
  margin: 1em 0 0 0;
}

.identifier {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid var(--textColor);
}

.legend {
  text-align: center;
  
  margin: 0 0 2em 0;
  color: var(--legendColor);
}

.item {
  margin: 0.2em 0.5em;

  /* display: flex; */
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  padding: 0.2em 0.3em;
  background-color: var(--itemColor)
}

.interactable {
  cursor: pointer;
}

.interactable:hover {
  background-color: rgb(190, 190, 255);
}


.item-out-list {
}

.out-person {
  margin: 0;
  color: var(--personColor);
  position: inherit;
}

.out-description {
  margin: 0;
}

#name-field {
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  padding: 4px;
  font-size: var(--smallSizeFont);
}
