*:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: var(--smallSizeFont);
  color: var(--textColor);


  --smallSizeFontWebDisplay: 2vw;
  --smallSizeFont: 4vw;
  --bigSizeFont: 7vw;
  --borderColor: #a93e3e;
  --bgColor: #ffeffc;
  --textColor: #4a4a4a;
  --legendColor: #ba3939;
  --itemColor: #ffffff;
  --personColor: rgb(0, 136, 86);
  --textBgColor: #ffffff83;
}

p {
  color: var(--textColor);
  font-size: var(--smallSizeFont);
}

body {
  margin: 0;
  padding: 0;
}
.title-label {
  font-size: var(--bigSizeFont);
  font-weight: 500;
  text-align: center;
  margin: 0 0 0 0;
}

.identifier {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid var(--textColor);
}

.legend {
  text-align: center;

  margin: 0 0 2em 0;
  color: var(--legendColor);
}

.item {
  text-align: center;
  margin: 0.2em 0.5em;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  padding: 0.2em 0.3em;
  background-color: var(--itemColor);
}

.interactable {
  cursor: pointer;
}

.interactable:hover {
  background-color: #fdf6db;
}

.item-out-list {
}

.out-person {
  margin: 0;
  color: var(--personColor);
  position: inherit;
}

.out-description {
  margin: 0;
  padding-left: 1em;
}

#name-field {
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  padding: 4px;
  font-size: var(--smallSizeFont);
  background-color: var(--textBgColor)
}

@media screen and (max-width: 600px) {
  .interactable:hover {
    background-color: var(--textBgColor)
  }
}

@media screen and (min-width: 600px) {
  .item-list {
    align-items: center;

    justify-content: center;
  }

  .item {
    width: 50%;
    transform: translateX(25vw);
    font-size: var(--smallSizeFontWebDisplay);
  }

  label {
    font-size: var(--smallSizeFontWebDisplay);
  }

  #name-field {
    font-size: var(--smallSizeFontWebDisplay);
  }

  .title-label {
    font-size: var(--smallSizeFontWebDisplay) / 2;
  }
  p {
    font-size: var(--smallSizeFontWebDisplay);
  }
}
